body{
    background: url("../images/map.jpg") no-repeat fixed center;
    
}
.container{
    height: 100vh;
    font-family: 'Patua One', cursive;
}
.row{
    height: 20%;
    margin-top: 15px;
}
header{
    background-color:#8a71b1;
    height: 100%;
    font-size: 2.5rem;
}
p{
    margin: 0;
}
.col-10{
    background-color: #e5e459;
    font-size: 1.5rem;
    text-align: center; 
    
}
#timer{
    background-color: #e5e459;
    
    font-size: 2rem;
  
}

#answer{
    background-color: #8db459;
    font-size: 1.25rem;
    text-align: center;
    
}
#results{
    background-color:#eeb97a;
    font-size: 1.5rem;
    text-align: center;
}
#start{
    margin-top: 20px;
}